header {
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:4vh;
    
    .button {
        @include Button1ldle(44px, 176px);
        font-weight:bold;
            &:hover {
                @include Button1Hover(44px, 176px);
            }
        @media #{$minTablet}{
            @include Button1ldle(56px, 228px);
                &:hover {
                    @include Button1Hover(56px, 228px);
                }
            }
        }
    img {
        height: 48px;
        width : 48px;
        @media #{$minTablet}{
            height: 64px;
            width : 64px;
        }
        }
    }

main {
    
    .title {
        @include HeadingL;
        font-size:36px;
        line-height: 42px;
        @media #{$minTablet}{
            font-size:44px;
            line-height: 42px;
        }
        @media #{$minDesktop}{
            font-size:56px;
            line-height: 42px;
        }
    }
    p {
        @include BodyM;
        font-size: 16px; 
    }
    .grid_image { 
            .grid {
                    display:grid;
                    grid-template-columns: repeat(2, fr) ;
                    grid-template-rows: repeat(6,fr);
                    height:1164px;
                    grid-gap:15px;
                    @include BodyM;
                    color:white;
                    font-weight: bold;
                    
                    @media #{$minTablet}{
                        grid-template-columns: repeat(4, fr) ;
                        grid-template-rows: repeat(3,fr);
                        height:690px;
                    }
                    @media #{$minDesktop}{
                        margin:80px 20px;
                        grid-template-columns: repeat(5, fr) ;
                        grid-template-rows: repeat(2,fr);
                        height:364px;
                    }
                    .a {
                        grid-column: 1/3;
                        grid-row: 1/3;
                        background-color: $blue_purple;
                        @include grid-design;      
                        }             
                    .b {
                        grid-column: 1/2;
                        grid-row: 3/4;
                        background-color: $pale_orange;
                        @include grid-design;
                        @media #{$minTablet}{
                            grid-column: 3/4;
                            grid-row: 1/2;
                        }
                        @media #{$minDesktop}{
                            grid-column: 3/4;
                            grid-row: 1/2;
                        }
                    }
                    .c {
                        grid-column: 2/3;
                        grid-row: 3/4;
                        background-color: $light_salmon_pink;
                        @include grid-design; 
                        @media #{$minTablet}{
                            grid-column:4/5;
                            grid-row: 1/2;
                        }
                        @media #{$minDesktop}{
                            grid-column: 4/5;
                            grid-row: 1/2;
                        }
                    }
                    .d {
                        grid-column: 1/3;
                        grid-row: 5/6;
                        background-color: $blue_hosta;
                        @include grid-design;
                        @media #{$minTablet}{
                            grid-column:1/3;
                            grid-row: 3/4;
                        }
                        @media #{$minDesktop}{
                            grid-column: 5/7;
                            grid-row: 1/2;
                        }  
                    }
                    .e {
                        grid-column: 1/3;
                        grid-row: 4/5;
                        background-color: $dark_peach;
                        @include grid-design; 
                        @media #{$minTablet}{
                            grid-column: 3/5;
                            grid-row: 2/3;
                        }  
                        @media #{$minDesktop}{
                            grid-column: 3/5;
                            grid-row: 2/3;
                        }
                    }
                    .f {
                        grid-column: 1/3;
                        grid-row: 6/7;
                        background-color: $grape_purple;
                        @include grid-design; 
                        @media #{$minTablet}{
                            grid-column: 3/5;
                            grid-row: 3/4;
                        }
                        @media #{$minDesktop}{
                            grid-column: 5/7;
                            grid-row: 2/3;
                        }
                    }       
                }  
            }
    .hero {
        margin:100px 20px;
        // margin-top:100px;
        // margin-bottom:100px;
        text-align: center;
        @media #{$minTablet}{
            display:flex;
            justify-content: space-between;
            
        }
        img{
            width: 300px;
            height:300px;
            margin-bottom:2vh;
            @media #{$minTablet}{
                width: 364px;
                height:364px;
                margin-left:-70px;
            }
            @media #{$minDesktop}{
                width: 445px;
                height:445px;
                margin-left:0px;
            }
        }
        .text_image {
            @media #{$minTablet}{
                margin-left: 70px;
                text-align: left;
            }
            .title {
                @include HeadingS;
                font-size: 26px;
                margin-bottom:2vh;
                @media #{$minTablet}{
                    text-align: left;
                }
                @media #{$minDesktop}{
                    @include HeadingM;
                    font-size: 40px;
                    text-align: left;
                }
               
            }
            .text{
                @include BodyM;
                font-size: 16px;
                margin-bottom:2vh;
                @media #{$minTablet}{
                    text-align: left;
                }
                @media #{$minDesktop}{
                    @include HeadingM;
                    font-size: 18px;
                    text-align: left;
                }
           
            }
            .button1{
               
                @include Button2ldle(44px, 176px);
                margin: 0px auto;
                font-weight:bold;
                &:hover {
                    @include Button2Hover(44px, 176px);
                }
                @media #{$minTablet}{
                    @include Button2ldle(56px, 228px);
                    font-weight:bold;
                    margin-left:0px;
                    &:hover {
                        @include Button2Hover(56px, 228px);
                    }
                }
            }
        }
    }
    .caroussel {
        overflow: hidden;
        margin-bottom:100px;
        @media #{$minDesktop}{
            margin-top:10vh;
            }
        .title {
            @include HeadingS;
            font-size:24px;
            margin-bottom:32px; 
            width:100%;
            @media #{$minDesktop}{
                font-size:32px;
            }
        }
        .caroussel_image {
            display:flex;
            width:376vw;
            @media #{$minTablet}{
                width: 376vw;
                 }
            @media #{$minDesktop}{
                width: 500vw;
                 }
            .slide {
                img {
                    width: 72vw;
                    height: 180px;
                    margin-right:15px;
                    border-radius: 5px;
                    @media #{$minTablet}{
                        width: 70vw;
                        height: 360px;
                        margin-right:30px;
                    }
                    @media #{$minDesktop}{
                        width: 33vw;
                        height: 360px;
                        margin-right:30px;
                    }
                }
            }
        }
        .caroussel_arrow {
            display:flex;
            justify-content: center;
            margin:0px auto;
            .button_circle_left, .button_circle_right{
                @include circle;
                margin-left: 20px;
                margin-top:20px;
                &:hover {
                    @include circleHover;
                }
            }
        }
    }
    .call{
       
        height:357px;
        background-color: black;
        border-radius: 5px;
        align-items:center;
        display:flex;
        flex-direction:column;
        @media #{$minTablet}{
            height:352px;
            display:flex;
            flex-direction:row;
            justify-content: space-between;
            align-items: center;
            }
        @media #{$minDesktop}{
            height:320px;
        }
         
        .call_left {
            @media #{$minTablet}{
                margin:30px;
            }
            .title {
                @include HeadingS;
                font-size:24px;
                color:white;
                margin:25px;
                @media #{$minTablet}{
                    @include HeadingM;
                    text-align: left;
                    margin:0px;
                }
            }
            p {
                @include BodyM;
                color:white;
                margin:0px 25px;
                @media #{$minTablet}{
                    text-align: left;
                    margin:0px;
                }
               
            }

        }
        .call_right {
            @media #{$minTablet}{
                margin:30px;
            }
            .button { 
                @include Button2ldle(44px, 176px);
                margin:25px auto;
                font-weight:bold;
                &:hover {
                    @include Button2Hover(44px, 176px);
                } 
                @media #{$minTablet}{
                    margin : 0px auto;
                        @include Button2ldle(56px, 228px);
                        &:hover {
                            @include Button2Hover(56px, 228px);
                            } 
                        }
                @media #{$minDesktop}{
                    margin : 0px auto;
                        @include Button2ldle(56px, 228px);
                        &:hover {
                            @include Button2Hover(56px, 228px);
                            } 
                        }
                
                }
                
            
            }
        }
    }     


footer {
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:40px auto;
    font-weight:bold;
    
    .button {
        @include Button1ldle(44px, 176px);
        font-weight:bold;
            &:hover {
                @include Button1Hover(44px, 176px);
            }
        @media #{$minTablet}{
            @include Button1ldle(56px, 228px);
                &:hover {
                    @include Button1Hover(56px, 228px);
                }
            }
        }
    img {
        height: 48px;
        width : 48px;
        @media #{$minTablet}{
            height: 64px;
            width : 64px;
        }
        }
    }