$blue_purple:#755CDE;
$pale_orange:#F6A560;
$light_salmon_pink:#F39E9E;
$dark_peach:#EB7565;
$blue_hosta:#61C4B7;
$grape_purple:#552049;
$black:#030303;
$spicy_pink:#7A746E;
$rose_white:#FFF7F0;

$maxMobile:"(max-width:480px)";
$minTablet:"(min-width:481px)";
$minDesktop:"(min-width:992px)";








